name: Fetch IP List

on:
  schedule:
    - cron: "0 * * * *"   # 每小时执行一次，可改
  workflow_dispatch:       # 手动运行

jobs:
  update-ip-list:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Fetch IP list
        run: |
          curl -s "https://ipdb.api.030101.xyz/?type=bestproxy&country=true" \
            | sed 's/#.*//' \
            | head -n 10 \
            > ips.txt

      - name: Commit changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config --global user.name "github-actions"
            git config --global user.email "github-actions@github.com"
            git add ips.txt
            git commit -m "Update IP list"
            git push
          else
            echo "No changes"
          fi
